@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Circular Std", sans-serif;
  }

  h1 {
    @apply text-4xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-10xl;
  }

  h2 {
    @apply text-2xl md:text-4xl lg:text-6xl xl:text-7xl;
  }

  h3 {
    @apply text-basexl md:text-2xl lg:text-3xl xl:text-5xl;
  }

  h4 {
    @apply text-basexl lg:text-2xl xl:text-3xl;
  }

  h5 {
    @apply text-tiny md:text-base xl:text-p1;
  }

  p {
    @apply text-base md:text-p1 lg:text-basexl xl:text-1xl 2xl:text-4xl;
  }
}

@layer utilities {
  .bg-double-radial-gradient-white {
    background: radial-gradient(18.81% 269.16% at 81.41% 195.58%, theme(colors.white) 0%, theme(colors.white / 0%) 100%),
      radial-gradient(49.86% 319.81% at 28.6% 0%, theme(colors.white) 0%, theme(colors.white / 0%) 100%);
  }

  .bg-radial-gradient-white {
    background: radial-gradient(100% 100% at 0% 0%,  theme(colors.white / 12%) 0%, theme(colors.white / 3%) 100%)
  }

  .text-gradient-base {
    -webkit-background-clip: text;
    -webkit-text-fill-color: theme(colors.transparent);
    background-clip: text;
    text-fill-color: theme(colors.transparent);
  }

  .text-radial-gradient-white {
    @apply bg-double-radial-gradient-white text-gradient-base;
  }

  .text-l-gradient-secondary {
    @apply bg-custom-l-text-gradient text-gradient-base;
  }

  .mask-composite-exlude {
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .mask-custom-l-gradient {
    mask: linear-gradient(theme(colors.white) 0 0) padding-box, linear-gradient(theme(colors.white) 0 0);
    -webkit-mask: linear-gradient(theme(colors.white) 0 0) padding-box, linear-gradient(theme(colors.white) 0 0);
  }

  .full-bg-custom-l-gradient {
    background: linear-gradient(176deg, var(--tw-gradient-from) 21.78%, var(--tw-gradient-to) 79.22%) border-box;
  }

  .pause {
    animation-play-state: paused;
  }

  .overflow-overlay {
    overflow: overlay;
  }
}

/* Animations */

.translate-enter-active {
  transition: transform 500ms ease-in-out;
  transform: translateY(-100%);
}

.translate-enter-from {
  transition: translateY(-100%);
}

.translate-enter-to {
  transform: translateY(0) !important;
}

.fade-enter-active {
  animation: fade-in 800ms;
}

.fade-leave-active {
  animation: fade-in 800ms reverse;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
