@font-face {
  font-family: Circular Std;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/CircularStd-Book.ttf');
}

@font-face {
  font-family: Circular Std;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/CircularStd-Medium.ttf');
}

@font-face {
  font-family: Circular Std;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/CircularStd-Bold.ttf');
}

@font-face {
  font-family: Circular Std;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/fonts/CircularStd-Black.ttf');
}